<!--The content below is only a placeholder and can be replaced.-->
<section id="header">
    <div class="container">
      <div class="row">
        <div class='col-md-5 col-sm-6'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-push-9" id="logo">
      <a href=#>
        <img src="../img/logo2.png">
      </a>
    </div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin">
              <a href="#">Home</a>
            </li>
            <li class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin">
              <a href="#">Popularne</a>
            </li>
            <li class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin">
              <a href="#">Oferty</a>
            </li>
            <li class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin">
              <a href="#">Kalendarz</a>
            </li>
            <li class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin">
              <a href="#">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- 
			<div class="container">
				<div class="row col-md-12">
					<div class="col-md-2">
						<a href="#"><button class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin"><span>Home</span></button></a>
						</div>
						<div class="col-md-2">
							<a href=#popular><button class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin"><span>Popularne</span></button></a>
						</div>
						<div class="col-md-2">
							<a href=#horwacia><button class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin"><span>Oferty</span></button></a>
						</div>
						<div class="col-md-2">
							<a href="#"><button class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin button--border-thin"><span>Kalendarz</span></button></a>
						</div>
						<div class="col-md-2">
							<a href="#footer"><button class="button button--antiman button--border-thin button--round-s button--size-l button--text-thin"><span>Kontakty</span></button></a>
					</div>
				</div>
			</div> -->



</section>

